@using HPowerTunings.ViewModels.PartModels
@model RatePartViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(window).on('load', function () {
        $('#rate-part').modal('show');
    });
</script>


<div class="modal fade" id="rate-part" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:cornsilk; color:indigo">
                <h5 class="modal-title container-fluid text-center"><strong>@Model.Name - @Model.Brand</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="text-center" id="RatePart" action="/PartsFromCar/RatePart" method="post">
                    <div class="d-flex container-fluid justify-content-center">
                        <h5 >
                            Rate <span style="color:indigo"><strong>(1 - 10)</strong></span>
                        </h5>
                        <input asp-for="@Model.Rate" class="form-control container-fluid justify-content-center" 
                               style="max-width:90px; margin-left:60px">
                        <input asp-for="@Model.Name" class="form-control" type="hidden" value="@Model.Name" />
                        <input asp-for="@Model.Brand" class="form-control" type="hidden" value="@Model.Brand" />
                        <input asp-for="@Model.Id" class="form-control" type="hidden" value="@Model.Id" />
                        <input asp-for="@Model.RepairId" class="form-control" type="hidden" value="@Model.RepairId" />
                        <button id ="go" type="submit" class="btn btn-outline-primary" style=" opacity:0.7">Submit</button>
                    </div>
                </form>
                <div class="text-center" style="margin-top:50px; opacity:0.7">
                    <button class="btn btn-outline-primary" onClick="location.href='/Car/Details/@Model.RepairId'">
                       &nbsp;Return &nbsp;
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
