@using HPowerTunings.ViewModels.EmailModels
@model SendEmailViewModel
@{ Layout = "_LayoutBoss";}

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        body {
            background-color: rgba(230, 240, 211, 0.6)
        }
    </style>
</head>
<body>
    <div class=" mt-5 pt-5" style="max-width:400px">
        <form class="mt-3" action="/Email/SendEmails" method="post">
            <div class="d-flex" style="padding-bottom:20px">
                <h3>Send Emails</h3>
                <div class="button-holder" style="margin-left:125px; opacity:0.6">
                    <button type="submit" class="btn btn-outline-primary">Send emails</button>
                </div>
            </div>
            <label>Choose group by car model</label>
            <select class="custom-select" id="CarModel" asp-for="@Model.CarModel">
                <option selected disabled>-- Choose Model --</option>
                @{ var result = ViewData["CarModels"] as List<string>; result = result.OrderBy(m => m).ToList(); }
                @foreach (var item in result)
                {
                    <option>@item</option>
                }
                <option>All Clients</option>
            </select>
            <span asp-validation-for="@Model.CarModel" class=" text-danger"></span>
            <div class="form-group">
                <input asp-for="@Model.Picture" class="mt-3" style="width:290px" type="file"
                       id="picture" name="picture"
                       accept="image/png, image/jpeg">
                <span>Attach picture</span>
            </div>
            <div class="form-group mt-4">
                <label>Subject</label>
                <input asp-for="@Model.Subject" class="form-control">
                <span asp-validation-for="@Model.Subject" class=" text-danger"></span>
                <label class="mt-3">Message</label>
                <textarea rows="10" cols="60" asp-for="@Model.Message" class="form-control"></textarea>
                <span asp-validation-for="@Model.Message" class=" text-danger"></span>
            </div>
        </form>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
