@using HPowerTunings.ViewModels.Appointment
@using HPowerTunings.ViewModels.RepairModels

@{ Layout = "_LayoutBoss";}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        body {
            background-color: rgb(240, 238, 224)
        }
    </style>
</head>
@{
    string greetings;

    if (DateTime.Now.Hour >= 12 && DateTime.Now.Hour < 18)
    {
        greetings = "Good afternoon";
    }
    else if (DateTime.Now.Hour >= 18 && DateTime.Now.Hour < 24)
    {
        greetings = "Good evening";
    }
    else
    {
        greetings = "Good Morning";
    }
}

<body>
    <div class="container-boss text-center mt-4 pt-5">
        <h3 class="boss p-3" style="font-family:Calibri">@greetings Boss!</h3>
    </div>
    <div class="text-center mb-3">
        <h5>Choose from the menu</h5>
    </div>
    <div class="adminHome d-flex">
        <div class="container-fluid justify-content-center" style="width:390px">
            @{
                var result = ViewData["PendingAppoinments"] as List<PendingAppointmentsViewModel>;
                result = result.OrderByDescending(a => a.CreatedOn).ToList();
            }
            @foreach (var item in result)
            {
                if (item.AppointmentDate.Date == DateTime.Now.Date
                    && item.IsAppointmentPending == false
                    && item.IsAppointmentStarted == false)
                {
                    <div style="background-color:steelblue; border-radius:6px" class="mb-3">
                        <br />
                        <h3 class="text-center"><strong style="color:indigo">This day appointment</strong></h3>
                        <br />
                    </div>
                    <p>From client with email : <strong>@item.ClientEmail</strong></p>
                    <p>On car with reg.number : <strong>@item.RegNumber</strong></p>
                    <p>Car brand: <strong>@item.CarCarBrandName</strong></p>
                    <p>Car model: <strong>@item.CarCarModelName</strong></p>
                    <p>Client's username: <strong>@item.ClientUserName</strong></p>
                    <p>Client's phone number: <strong>@item.ClientPhoneNumber</strong></p>
                    <p><h5>Appointment date: </h5><h5><strong>@item.AppointmentDate</strong></h5></p>
                    <div>Problem description: <strong>@item.ProblemDescription</strong></div>
                    <button onclick="window.location.href='/Repair/StartRepair?id=@item.Id';">
                        Start repair
                    </button>
                    <div class="mb-5"></div>
                }
                else if (item.AppointmentDate.Date == DateTime.Now.Date
                         && item.IsAppointmentPending == true
                         && item.IsAppointmentStarted == false)
                {
                    <div style="background-color:azure; border-radius:6px; padding-left:10px;
                         padding-right:10px" class="mb-3">
                        <br />
                        <h3 class="text-center">
                            <strong style="color:indigo">Pending appointment for today</strong>
                        </h3>
                        <br />
                    </div>
                    <p>From client with email : <strong>@item.ClientEmail</strong></p>
                    <p>On car with reg.number : <strong>@item.RegNumber</strong></p>
                    <p>Car brand: <strong>@item.CarCarBrandName</strong></p>
                    <p>Car model: <strong>@item.CarCarModelName</strong></p>
                    <p>Client's username: <strong>@item.ClientUserName</strong></p>
                    <p>Client's phone number: <strong>@item.ClientPhoneNumber</strong></p>
                    <p><h5>Appointment date: </h5><h5><strong>@item.AppointmentDate</strong></h5></p>
                    <p><h5><strong>@item.AppointmentDate.Date.DayOfWeek</strong></h5></p>
                    <div>Problem description: <strong>@item.ProblemDescription</strong></div>
                    <button class="mt-2" onclick="window.location.href='/Appointment/ProceedAppointment?id=@item.Id';">
                        Proceed appointment
                    </button>
                    <div class="mb-5"></div>
                }
                else
                {
                    <div style="background-color:honeydew; border-radius:6px" class="mb-3">
                        <br />
                        <h3 class="text-center"><strong style="color:indigo">Pending appointment</strong></h3>
                        <br />
                    </div>
                    <p>From client with email : <strong>@item.ClientEmail</strong></p>
                    <p>For car with reg.number: <strong>@item.RegNumber</strong></p>
                    <p>Car brand: <strong>@item.CarCarBrandName</strong></p>
                    <p>Car model: <strong>@item.CarCarModelName</strong></p>
                    <p>Client username is : <strong>@item.ClientUserName</strong></p>
                    <p>Client's phone number: <strong>@item.ClientPhoneNumber</strong></p>
                    <p><h5>Desired date: </h5><h5><strong>@item.AppointmentDate</strong></h5></p>
                    <p><h5><strong>@item.AppointmentDate.Date.DayOfWeek</strong></h5></p>
                    <div>Problem description: <strong>@item.ProblemDescription</strong></div>
                    <button onclick="window.location.href='/Appointment/ProceedAppointment?id=@item.Id';">
                        Proceed appointment
                    </button>
                    <div class="mb-5"></div>
                }
            }
        </div>
        <div class="container-fluid justify-content-center" style="width:390px">
            @{
                var result1 = ViewData["PendingRepairs"] as List<PendingRepairViewModel>;
                result1 = result1.OrderByDescending(a => a.CreatedOn).ToList();
            }
            @foreach (var item in result1)
            {
                <div class="text-center mb-3" style="background-color:rosybrown; border-radius:6px">
                    <br />
                    <h3><strong style="color:indigo">Pending repair</strong></h3>
                    <br />
                </div>
                <p>Repair Started on: <strong>@item.StartDate</strong></p>
                <p>Car with reg.number: <strong>@item.RegNumber</strong></p>
                <p>Car brand: @item.CarBrand</p>
                <p>Car model: @item.CarModel</p>
                <p>Client's email: <strong>@item.ClientEmail</strong></p>
                <p>Client's phone: <strong>@item.ClientPhoneNumber</strong></p>
                <p>Client's username: <strong>@item.ClientUserName</strong></p>
                <p>Repair name: <strong>@item.RepairName</strong></p>
                <p>Mechanics operated:</p> 
                    @foreach (var mechanic in item.Mechanics)
                    {
                    <p><strong>@mechanic</strong></p>
                    }
                    <p>Repair description: <strong>@item.RepairDescription</strong></p>
                    <button onclick="window.location.href='/Repair/ProceedRepair?id=@item.RepairId';">
                        Proceed repair
                    </button>
                    <div class="mb-5"></div>
                }
        </div>
        <div class="mt-5 pt-5"></div>
    </div>
    <div style="height:40px"></div>
</body>
</html>