@using HPowerTunings.ViewModels.Appointment
@using HPowerTunings.ViewModels.RepairModels
@{ Layout = "_LayoutBoss";}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        body {
            background-color: rgb(240, 238, 224)
        }
    </style>
</head>
@{ 
    string greetings;
    if (DateTime.Now.Hour >= 12)
    {
        greetings = "Good morning";
    }
    else if (DateTime.Now.Hour >= 12)
    {

    }
}

<body>
    <div class="container-boss text-center mt-4 pt-5">
        <h3 class="boss mb-3 ml-5 mr-5" style="font-family:Calibri">&nbsp;Welcome Boss!&nbsp;</h3>
    </div>
    <div class="text-center mt-1 mb-3">
        <h5>Choose from the menu what would you like to see</h5>
        <hr />
    </div>
    <div cass="d-flex flex-row">
        <div class="container-fluid justify-content-center">
            @{ var appointments = ViewData["PendingAppoinments"] as List<PendingAppointmentsViewModel>; }
            @foreach (var item in appointments)
            {
                <div style="background-color:honeydew; border-radius:8px"  class="mb-3">
                    <br />
                    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>New Appointment</strong>&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                    <br />
                </div>
                <p>From client with email : <strong>@item.ClientEmail</strong></p>
                <p>Client's phone number: <strong>@item.ClientPhoneNumber</strong></p>
                <p><h5>Desired date: </h5><h5><strong>@item.DesiredDate</strong></h5></p>
                <p>Problem description: @item.ProblemDescription</p>
                <a class="text-center" href="/Appointment/ProceedAppointment?id=@item.AppointmentId">
                    <h5><strong>Proceed appointment</strong></h5>
                    <hr />
                </a>
                <div class="mb-5"></div>
            }
        </div>
        <div class="container-fluid justify-content-center">
            @{ var collection = ViewData["PendingRepairs"] as List<PendingRepairViewModel>; }
            @foreach (var item in collection)
            {
                <div class="text-center mb-3" style="background-color:rosybrown; border-radius:8px">
                    <br />
                    <h3><strong>Pending Repair</strong></h3>
                    <br />
                </div>
                <p></p>
                <p>Repair Started on: <strong>@item.StartDate</strong></p>
                <p>Car with reg.number: <strong>@item.RegNumber</strong></p>
                <p>Car brand: @item.CarBrand</p>
                <p>Car model: @item.CarModel</p>
                <p>Client's email: <strong>@item.ClientEmail</strong></p>
                <p>Client's phone: <strong>@item.ClientPhoneNumber</strong></p>
                <p>Client's username: <strong>@item.ClientUserName</strong></p>
                <p>Repair name: <strong>@item.RepairName</strong></p>
                <p>
                    Mechanics operated:
                    @foreach (var mechanic in item.Mechanics)
                    {
                    <strong>@mechanic&nbsp;&nbsp;</strong>
                    }
                </p>
                <p>Repair description: <strong>@item.RepairDescription</strong></p>
                <a class="text-center" href="/Repair/ProceedRepair?id=@item.RepairId">
                    <h5 class="mt-3"><strong> Proceed Repair </strong></h5>
                    <hr />
                </a>
                <div class="mb-5"></div>
            }
        </div>
        <div class="mt-5 pt-5"></div>

    </div>
</body>
</html>