@using HPowerTunings.ViewModels.ClientModels
@model ICollection<ClientViewModel>

@{
    ViewData["Title"] = "ClientStartEnd";
    Layout = "~/Views/Shared/_LayoutBoss.cshtml";
}

<style>
    body {
        background-color: rgb(230, 234, 230)
    }
</style>

<div class="d-flex"  style="max-width:640px;">
    <div class="container-fluid justify-content-center mt-5 pt-5">
        <div class="text-center" style="padding-bottom:20px">
            <h3>Clients for selected period</h3>
        </div>
        @foreach (var item in Model.OrderByDescending(m => m.TotalMoneyPaid))
        {
            <div class=" justify-content-center">
                <div class="text-center pl-5 pr-5" style="background-color:lightsteelblue; color:white; 
                     border-radius: 6px">
                    <br />
                    <h5>Client with email</h5>
                    <h5><strong>@item.Email</strong></h5>
                    <br />
                </div>
                <div class="container-fluid justify-content-center">
                    <p>Client's username: <strong>@item.UserName</strong></p>
                    <p>Client's phone number: <strong>@item.PhoneNumber</strong></p>
                    <p>Clients cars: </p>
                    @foreach (var car in item.Cars)
                    {
                        <p><strong>@car.CarBrandName</strong> - <strong>@car.CarModelName</strong> with reg. number <strong>@car.RegNumber</strong></p>
                    }
                    <p>Total money paid: <strong style="color:indigo">$@item.TotalMoneyPaid</strong></p>
                    <p>Total repairs count: <strong style="color:indigo">@item.TotalRepairs</strong></p>
                </div>
            </div>
        }
        <div class="text-center" style="background-color:chocolate; border-radius:6px; padding:25px; 
             margin:30px 0;">
            <h5  style="color:antiquewhite">Total count of clients registered in period : 
                <strong style="color:indigo"> @Model.Count</strong></h5>
        </div>
    </div>
</div>
<div class="pt-5"><p></p></div>