@using HPowerTunings.ViewModels.ClientModels
@model ICollection<ClientViewModel>

@{
    ViewData["Title"] = "ClientStartEnd";
    Layout = "~/Views/Shared/_LayoutBoss.cshtml";
}

<style>
    body {
        background-color: rgb(240, 240, 240)
    }
</style>

<div class="d-flex">
    <div class="container-fluid justify-content-center mt-5 pt-5">
        <div class="text-center">
            <h4>Clients for selected period</h4>
        </div>
        <hr />
        @foreach (var item in Model)
        {
            <div class="container-fluid justify-content-center">
                <div class="text-center pl-5 pr-5" style="background-color:beige; border-radius: 8px">
                    <br />
                    <h5>Client with email</h5>
                    <h5><strong>@item.Email</strong></h5>
                    <br />
                </div>
                <div class="container-fluid justify-content-center">
                    <p>Client's username: <strong>@item.UserName</strong></p>
                    <p>Client's phone number: <strong>@item.PhoneNumber</strong></p>
                    <p>Clients cars: </p>
                    @foreach (var car in item.Cars)
                    {
                        <p><strong>@car.CarBrand</strong> - <strong>@car.CarModel</strong> with reg. number <strong>@car.RegNumber</strong></p>
                    }
                    <p>Total money paid: <strong>$@item.TotalMoneyPaid</strong></p>
                    <p>Total repairs count: <strong>@item.TotalRepairs</strong></p>

                </div>
                <hr />
            </div>
        }
        <br />
        <div class="container-fluid justify-content-center text-center" style="background-color:chocolate; border-radius:6px">
            <br />
            <p><h5  style="color:antiquewhite">Total count of clients registered in period: <strong style="color:indigo">@Model.Count</strong></h5></p>
            <br />
        </div>
        <br />
    </div>
</div>
<div class="pt-5"><p></p></div>