@using HPowerTunings.ViewModels.AdminModels
@model AdminRegisterCarModel
@{
    ViewData["Title"] = "AdminCreateCar";
    Layout = "~/Views/Shared/_LayoutBoss.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        body {
            background-color: rgb(240, 240, 240)
        }
    </style>
</head>
<body>

    <div class="container-fluid justify-content-center w-50 pt-5 mt-4">
        <h4 class="text-center">Register new car</h4>
        <hr class="w-50" />
        <form id="Car" method="post" class="text-center">
            <div class="container-fluid justify-content-center" style="width:400px">
                <div class="form-group">
                    <label>Car brand</label>
                    <input asp-for="@Model.CarBrand" class="form-control" disabled="disabled" value="@ViewData["CarBrand"]" />
                </div>
                <label>Choose car model</label>
                <select class="custom-select" id="CarModel" asp-for="@Model.CarModel">
                    <option selected disabled>-- Choose Model --</option>
                    @foreach (var item in ViewData["CarModels"] as List<string>)
                    {
                        <option>@item</option>
                    }
                </select>
                <div class="form-group mt-3">
                    <label>Reg.number</label>
                    <input asp-for="@Model.RegNumber" class="form-control" disabled="disabled" value="@ViewData["RegNumber"]" />
                </div>
                <div class="form-group">
                    <label>VIN number</label>
                    <input asp-for="@Model.Rama" class="form-control w-100" placeholder="VIN Number" /> 
                    <span asp-validation-for="@Model.Rama" class=" text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Distance passed</label>
                    <input asp-for="@Model.DistancePassed" class="form-control w-100" placeholder="Passed distance /km" />
                    <span asp-validation-for="@Model.DistancePassed" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Client's email</label>
                    <input asp-for="@Model.Email" class="form-control w-100" placeholder="Client's email" />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
            </div>

            <div class="button-holder mt-5 d-flex justify-content-center">
                <button type="submit" class="adminregcar btn btn-outline-primary">Register Car</button>
            </div>
        </form>
        <br />
    </div>
</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
