@using HPowerTunings.ViewModels.CarModels
@model List<CarStatisticViewModel>

<style>
    body {
        background-color: rgb(240, 240, 240)
    }
</style>

@{
    ViewData["Title"] = "CarStatisticStartEnd";
    Layout = "~/Views/Shared/_LayoutBoss.cshtml";
}

@{
    var Cars = new Dictionary<string, int>();
    foreach (var item in Model)
    {
        if (Cars.ContainsKey(item.CarBrandName + "/" + item.CarModelName))
        {
            Cars[item.CarBrandName + " - " + item.CarModelName] += 1;
        }
        else
        {
            Cars.Add(item.CarBrandName + " - " + item.CarModelName, 1);
        }
    }

}

<div class="container-fluid justify-content-center" style="max-width:600px">
    <h3 class="mt-5 pt-5 text-center">Cars registered in the period</h3>
    <hr class="w-100" />
    @foreach (var item in Model)
    {
        <div class="mt-3 text-center" style="background-color:cornsilk; border-radius:8px">
            <br />
            <h5>Car with reg.number: <strong>@item.RegNumber</strong></h5>
            <br />
        </div>
        <br />
        <div class="container-fluid justify-content-center">
            <h5>Registered on: <strong>@item.RegisteredOn</strong></h5>
            <p>Car brand: <strong>@item.CarBrandName</strong></p>
            <p>Car model: <strong>@item.CarModelName</strong></p>
            <p>Traveled distance: <strong>@item.TraveledDistance</strong></p>
            <p>Rame number: <strong>@item.Rama</strong></p>
            <p>Owner's email: <strong>@item.ClientEmail</strong></p>
            <p>Owner's username: <strong>@item.ClientUserName</strong></p>
            <p></p>
        </div>
    }
</div>
<br />
<div class="container-fluid justify-content-center pr-4 pl-4" style="max-width:600px; background-color:chocolate; border-radius: 8px;">
    <br />
    <p>
        <h5 class="text-center" style="color:antiquewhite">
            Count of the cars registered in selected period:
            <strong style="color:indigo">@Model.Count</strong>
        </h5>
    </p>
    <hr />
    @foreach (var item in Cars)
    {

        <div class="text-center">
            <p><strong>@item.Key : </strong><strong style="color:indigo; font-size:16px;">@item.Value</strong></p>
            <hr />
        </div>

    }
    <br />
</div>
<div style="height:80px;"></div>

