@using HPowerTunings.ViewModels.RepairModels
@model CreateRepairOutputModel
@{ Layout = "_LayoutBoss";}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        body {
            background-color: rgb(242, 242, 232)
        }
    </style>
</head>

<body>
    
    <div class="container-fluid " style="max-width:500px; padding:20px; 
         border-radius:6px; background-color:gainsboro; margin-top:90px">
        <form id="Car" action="/Repair/CreateRepair" method="post"
              class="form-group">
            <div class="d-flex" style="padding-bottom:20px">
                <h3>New repair</h3>
                <div class="button-holder">
                    <button type="submit" class="btn btn-success" style="margin-left:240px;">&nbsp;Start&nbsp;</button>
                </div>
            </div>
            <div class="text-center">
                <label style="color:indigo">On car with reg. number</label>
                <input asp-for="@Model.CarRegNumber" class="form-control" placeholder="Reg.number" value=@ViewData["RegNumber"]>
                <span asp-validation-for="@Model.CarRegNumber" class="text-danger"></span>
                <p></p>
                <label>Repair name</label>
                <input asp-for="@Model.RepairName" class="form-control" placeholder="Repair name">
                <span asp-validation-for="@Model.RepairName" class="text-danger"></span>
                <p></p>
                <label>Description</label>
                <textarea rows="5" cols="60" asp-for="@Model.Description"
                          class="form-control" placeholder="Description" value="@ViewData["Description"]"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
                @{ var result = (List<string>)@ViewData["AllNames"]; }
                <p></p>
                <label>Select mechanic one</label>
                <select asp-for="@Model.Mechanic1FullName" class="form-control">
                    <option selected disabled>-- Select mechanic --</option>
                    @foreach (var item in result)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                <p></p>
                <label>Select mechanic two</label>
                <select asp-for="@Model.Mechanic2FullName" class="form-control">
                    <option selected disabled>-- Select mechanic --</option>
                    @foreach (var item in result)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
        </form>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</html>

