@using HPowerTunings.ViewModels.RepairModels
@model ProceedRepairModel

@{
    ViewData["Title"] = "ProceedRapair";
    Layout = "~/Views/Shared/_LayoutBoss.cshtml";
}
<style>
    body {
        background-color: rgb(240, 240, 220)
    }
</style>

@{ 
    TimeSpan ts = DateTime.Now.Subtract((DateTime)Model.In.StartedOn);
    var duration = $"{ts.Hours:D2}:{ts.Minutes:D2}:{ts.Seconds:D2}";
}

<div class="text-center mt-4 pt-5" style="margin-bottom:20px">
    <h3> Add parts to this repair </h3>
</div>

<div class="d-flex container-fluid" style="max-width:566px">
    <div class="mt-3" style="padding-right:20px; opacity:0.7">
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#add-part">
            Add new part
        </button>
    </div>
    <div class="mt-3" style="padding-left:20px; opacity:0.7; margin-left:auto">
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#add-supplier">
            Add supplier
        </button>
    </div>
</div>

<div class="d-flex container-fluid justify-content-center" style="max-width:600px">
    <div class="container-fluid text-center mt-4">
        <div class="mb-3" style="background-color:gainsboro; border-radius: 6px; padding-top:15px; padding-bottom:5px">
            <h4><strong style="color:brown">@Model.In.RepairName</strong></h4>
            <h5>On car with reg.Number: <strong>@Model.In.CarRegNumber</strong></h5>
            <h5>Car VIN: <strong>@Model.In.CarRama</strong></h5>
        </div>

        @foreach (var item in Model.In.Parts.OrderByDescending(p => p.StartedOn))
        {
            <div class="mb-3" style="background-color:gainsboro; border-radius: 6px; padding-right:20px; padding-left:20px; padding-top:5px; padding-bottom:5px">
                <h5>Part name: <strong>@item.Name</strong></h5>
                <h5>Part brand: <strong>@item.Brand</strong></h5>
                <h5>Part price: <strong>@item.Price</strong></h5>
            </div>

        }
       
        <div class="total" style="background-color:gray; border-radius: 6px; padding-bottom:10px; padding-top:10px;">
            <h5 style="color:white"><strong>Count of used parts : </strong>@Model.In.CountParts</h5>
            <h5 style="color:white"><strong>Total for parts : </strong>@Model.In.SumPartsPrices</h5>
            <h5 style="color:white"><strong>Total repair time : </strong>@duration</h5>
        </div>
        <div class="mt-5">
            <button type="button" data-toggle="modal" data-target="#finalize-repair" class="btn btn-outline-primary"
                    style="opacity:0.8">
                Finalize repair
            </button>
        </div>
        <div style="height:80px"></div>
    </div>
</div>



<!-- Modal Part -->
<div class="modal fade" id="add-part" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="background-color:beige">
                <form class="text-center" id="proceedRepair" action="/part/addpart" method="post">
                    <div class="d-flex" style="padding-bottom:20px">
                        <h4 class="modal-title" id="addContactLabel">Add part</h4>
                        <div class="button-holder" style="opacity:0.8; margin-left:auto">
                            <button type="submit" class="btn btn-outline-primary">&nbsp;&nbsp;Add part&nbsp;&nbsp;</button>
                        </div>
                    </div>
                    <div>
                        <label>Part name</label>
                        <input asp-for="@Model.Out.PartName" class="form-control" placeholder="Name of the part">
                        <span asp-validation-for="@Model.Out.PartName" class="text-danger"></span>
                    </div>
                    <div class="mt-3">
                        <label>Part manufacturer</label>
                        <input asp-for="@Model.Out.PartManufacturer" class="form-control" placeholder="Part brand">
                        <span asp-validation-for="@Model.Out.PartManufacturer" class="text-danger"></span>
                    </div>
                    <div class="mt-3">
                        <label>Part price</label>
                        <input asp-for="@Model.Out.PartPrice" class="form-control" placeholder="Price">
                        <span asp-validation-for="@Model.Out.PartPrice" class="text-danger"></span>
                    </div>
                    <div class="mt-3">
                        <label>Part supplier</label>
                        <select asp-for="@Model.Out.PartSupplier" class="form-control" placeholder="Supplier company" list="suppliers">
                            @foreach (var item in Model.In.Suppliers)
                            {
                                <option id="suppliers">@item</option>
                            }
                        </select>
                    </div>
                    <span asp-validation-for="@Model.Out.PartSupplier" class="text-danger"></span>
                    <div class="mt-3">
                        <label>Delivery rate</label>
                        <input asp-for="@Model.Out.RateThisDelivery" class="form-control" placeholder="Rate delivery speed">
                        <span asp-validation-for="@Model.Out.RateThisDelivery" class="text-danger"></span>
                    </div>
                    <input asp-for="@Model.In.Id" type="hidden">
                    <input asp-for="@Model.In.CarBrandName" type="hidden">
                    <input asp-for="@Model.In.CarModelName" type="hidden">
                    <input asp-for="@Model.In.CarRegNumber" type="hidden">
                    <input asp-for="@Model.In.CarRama" type="hidden">
                    <input asp-for="@Model.In.RepairName" type="hidden">
                    <input asp-for="@Model.In.SumPartsPrices" type="hidden">
                    <input asp-for="@Model.In.CountParts" type="hidden">
                </form>
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" aria-label="Close" style="margin-top:50px; opacity:0.8;">
                    <span aria-hidden="true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Return&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Supplier -->
<div class="modal fade" id="add-supplier" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="background-color:beige;">
                <form class="text-center" id="addSupplier" action="/Supplier/CreateSupplier" method="post">
                    <div class="d-flex" style="padding-top:20px">
                        <h4 class="modal-title" id="addContactLabel">Add supplier</h4>
                        <div class="button-holder" style="opacity:0.8; margin-left:auto">
                            <button type="submit" class="btn btn-outline-primary">Add supplier</button>
                        </div>
                    </div>
                    <div style="padding-top:20px"></div>
                    <div>
                        <label>Supplier name</label>
                        <input asp-for="@Model.Out.SupplierName" class="form-control">
                        <span asp-validation-for="@Model.Out.SupplierName" class="text-danger"></span>
                    </div>
                    <div class="mt-3">
                        <label>Supplier phone number</label>
                        <input asp-for="@Model.Out.PhoneNumber" class="form-control">
                        <span asp-validation-for="@Model.Out.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="mt-3">
                        <label>Supplier email</label>
                        <input asp-for="@Model.Out.Email" class="form-control">
                        <span asp-validation-for="@Model.Out.Email" class="text-danger"></span>
                    </div>
                    <div class="mt-3">
                        <label>Supplier url</label>
                        <input asp-for="@Model.Out.Url" class="form-control">
                        <span asp-validation-for="@Model.Out.Url" class="text-danger"></span>
                    </div>

                    <input asp-for="@Model.In.Id" type="hidden">
                    <input asp-for="@Model.In.CarBrandName" type="hidden">
                    <input asp-for="@Model.In.CarModelName" type="hidden">
                    <input asp-for="@Model.In.CarRegNumber" type="hidden">
                    <input asp-for="@Model.In.CarRama" type="hidden">
                    <input asp-for="@Model.In.RepairName" type="hidden">
                    <input asp-for="@Model.In.SumPartsPrices" type="hidden">
                    <input asp-for="@Model.In.CountParts" type="hidden">
                </form>

                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" aria-label="Close" style="margin-top:50px; opacity:0.8;">
                    <span aria-hidden="true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Return&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Finalize -->
<div class="modal fade" id="finalize-repair" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:gainsboro">
                <h4 class="modal-title" id="addContactLabel">Finalize repair</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="background-color:beige">
                <form class="text-center" id="finalizeRepair" action="/repair/finalizeRepair" method="post">
                    <div>
                        <label style="font-family:Arial; font-size: 20px">Repair price</label>
                        <input asp-for="@Model.Out.RepairPrice" class="form-control" placeholder="Sum for the client to pay">
                    </div>

                    <input asp-for="@Model.In.Id" type="hidden">
                    <input asp-for="@Model.In.CarBrandName" type="hidden">
                    <input asp-for="@Model.In.CarModelName" type="hidden">
                    <input asp-for="@Model.In.CarRegNumber" type="hidden">
                    <input asp-for="@Model.In.CarRama" type="hidden">
                    <input asp-for="@Model.In.RepairName" type="hidden">
                    <input asp-for="@Model.In.SumPartsPrices" type="hidden">
                    <input asp-for="@Model.In.CountParts" type="hidden">

                    <div class="button-holder mt-5">
                        <button type="submit" class="btn btn-outline-primary" style="opacity:0.8"> Finalize </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
