@using HPowerTunings.ViewModels.RepairModels
@model ProceedRepairModel

@{
    ViewData["Title"] = "ProceedRapair";
    Layout = "~/Views/Shared/_LayoutBoss.cshtml";
}
<style>
    body {
        background-color: rgb(240, 240, 220)
    }
</style>

<div class="pt-5 mt-5 ">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-contact">
        Add contact
    </button>
</div>


<!-- Modal -->
<div class="modal fade" id="add-contact" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addContactLabel">Add part</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="text-center" id="proceedRepair" action="/Repair/ProceedRepair" method="post">
                    <div>
                        <label style="font-family:Arial; font-size: 20px";>Part name</label>
                        <input asp-for="@Model.Out.PartName" class="form-control" placeholder="Name of the part">
                        <span asp-validation-for="@Model.Out.PartName" class="text-danger"></span>
                    </div>
                    <div class="mt-3">
                        <label style="font-family:Arial; font-size: 20px" ;>Part manufacturer</label>
                        <input asp-for="@Model.Out.PartManufacturer" class="form-control" placeholder="Part brand">
                        <span asp-validation-for="@Model.Out.PartManufacturer" class="text-danger"></span>
                    </div>
                    <div class="mt-3">
                        <label style="font-family:Arial; font-size: 20px">Part price</label>
                        <input asp-for="@Model.Out.PartPrice" class="form-control" placeholder="Price">
                        <span asp-validation-for="@Model.Out.PartPrice" class="text-danger"></span>
                    </div>
                    <div class="mt-3">
                        <label style="font-family:Arial; font-size: 20px">Part supplier</label>
                        <input asp-for="@Model.Out.PartSupplier" class="form-control" placeholder="Supplier company" type="text" list="suppliers" />
                        <datalist id="suppliers">
                            @foreach (var item in Model.In.Suppliers)
                            {
                                <option>@item</option>
                            }
                        </datalist>
                    </div>
                    <span asp-validation-for="@Model.Out.PartSupplier" class="text-danger"></span>
                    <div class="mt-3">
                        <label style="font-family:Arial; font-size: 20px" ;>Delivery rate</label>
                        <input asp-for="@Model.Out.RateThisDelivery" class="form-control" placeholder="Rate delivery speed">
                        <span asp-validation-for="@Model.Out.RateThisDelivery" class="text-danger"></span>
                    </div>
                    <input asp-for="@Model.In.CarBrand" type="hidden">
                    <input asp-for="@Model.In.CarModel" type="hidden">
                    <input asp-for="@Model.In.RegNumber" type="hidden">
                    <input asp-for="@Model.In.VinNumber" type="hidden">
                    <input asp-for="@Model.In.RepairName" type="hidden">
                    <div class="button-holder mt-5">
                        <button type="submit" class="btn btn-outline-primary"> Add </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
