    @using HPowerTunings.ViewModels.RepairModels
@model List<AdminRepairViewModel>
@{ Layout = "_LayoutBoss";}
<style>
    body {
        background-color: rgb(240, 240, 230)
    }
</style>
<body>
    @if (Model.FirstOrDefault() != null)
    {
        <h2 class="mt-4">Repairs for Period</h2>
        <p>________________________________________________________________________________________________</p>
        @for (var i = 0; i < @Model.Count; i++)
        {
            <div style="background-color:honeydew; border-radius:8px">
                <h3 class="mb-2 mt-2">&nbsp;&nbsp;&nbsp;&nbsp;<strong>Repair @(i + 1)</strong>&nbsp;&nbsp;&nbsp;&nbsp;</h3>
            </div>
            <br />
            <div class="text-center">
                @if (Model[i].IsRepairPending) { <h5 style="background-color:darksalmon; border-radius:8px"><strong>Repair Is Pending</strong></h5> }
                <p>Car brand: <strong>@Model[i].Car.CarBrand</strong> / Car model: <strong>@Model[i].Car.CarModel</strong></p>
                <p>Car registrational number: <strong>@Model[i].Car.RegistrationNumber</strong></p>
                <p>Car VIN number: <strong>@Model[i].Car.Rama</strong></p>
                <p>Repair started on: <strong>@Model[i].CreatedOn</strong></p>
                <p>Repair finished on:  <strong>@Model[i].FinishedOn</strong></p>
                <p>Repair price was: <strong>@Model[i].RepairPrice</strong></p>
            </div>
            <div style="background-color:beige; border-radius:8px" ><h5 class="mt-2 mb-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Mechanics operated in this repair:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5></div>
            <br />
            <div>
                @foreach (var empl in Model[i].Employees)
                {
                    <h5><strong>@empl.FullName</strong></h5>
                }
            </div>
            <br />
            <div style="background-color:beige; border-radius:8px"><h5 class="mt-2 mb-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Parts used in this repair:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5></div>
            <hr />
            @foreach (var part in Model[i].Parts)
            {
                <div>Part name: <strong>@part.Name</strong> / Part price: <strong>@part.Price</strong></div>
            }
            <hr />
        }
        <p>________________________________________________________________________________________________</p>
        <div class="container-fluid justify-content-center w-50 text-center" style="background-color:azure; border-radius:8px">
            <br />
            <h5>Total incomes for period: <strong>$@Model.FirstOrDefault()?.TotalIncomes</strong></h5>
            <h5>Total outgoings for periods:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>$@Model.Sum(r => r.TotalOutgoings)</strong></h5>
            @{
                var incomes = Model.FirstOrDefault()?.TotalIncomes;
                var outgoings = Model.Sum(r => r.TotalOutgoings);
                var result = incomes - outgoings;
                <h5>Total (incomes - outgoings) for period:&nbsp;&nbsp; <strong>$@result</strong></h5>
            }
            <br />
        </div>
        <div class="pt-5 mt-5"></div>
     }
     else
     {
         <div class="text-center pt-5"><h4>No repairs for this period</h4></div>
     }

</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
