@using HPowerTunings.ViewModels.RepairModels
@model List<AdminRepairViewModel>
@{ Layout = "_LayoutBoss";}
<style>
    body {
        background-color: rgb(240, 240, 230)
    }
</style>
<body>
    @if (Model.FirstOrDefault() != null)
    {

        <h3 class="mt-5 pt-5">Finilized repairs for Period</h3>
        <div class="conteiner-fluid justify-content-center text-center" style="max-width:600px;">
            <hr />
            @foreach (var item in Model.OrderByDescending(m => m.FinishedOn))
            {
                <div style="border:1px solid #000; border-radius:6px; padding-bottom:15px">
                    <div class="mb-2" style="background-color:honeydew; border-radius:6px;padding-left:10px;
                         padding-right:10px; padding-top:5px; padding-top:15px; padding-bottom:10px">
                        <h4>
                            Repair on car with Reg. numer: <strong>@item.Car.RegNumber</strong>
                        </h4>
                        <p><h4><strong>@item.Car.CarBrandName - @item.Car.CarModelName</strong></h4></p>
                    </div>
                    <div>
                        @{ bool check = @item.IsRepairPending != null ? @item.IsRepairPending.Value : false; }
                        @if (check)
                        {
                            <h5 style="background-color:darksalmon; border-radius:6px; display: inline-block">
                                <strong>Repair Is Pending</strong>
                            </h5>
                        }
                        @if (@item.Car != null)
                        {
                            <div>
                                <p>Repair name: <strong>@item.RepairName</strong></p>
                                <div>Repair description: <strong>@item.Description</strong></div>
                                <p>
                                    Car brand: <strong>
                                        @item.Car.CarBrandName
                                </strong> / Car model: <strong>@item.Car.CarModelName</strong>
                            </p>
                            <p>Car registrational number: <strong>@item.Car.RegNumber</strong></p>
                            <p>Car VIN number: <strong>@item.Car.Rama</strong></p>
                        </div>

                    }
                        <p>Repair started on: <strong>@item.CreatedOn</strong></p>
                        <p>Repair finished on:  <strong>@item.FinishedOn</strong></p>
                        <p>Repair price was: <strong>@item.RepairPrice</strong></p>
                    </div>
                    <div style="background-color:beige;
                         border-radius:6px;">
                        <h5>
                            <strong>Mechanics operated in this repair:</strong>
                        </h5>
                    </div>
                    <div class="text-center">
                        @foreach (var empl in @item.Employees)
                        {
                            <h5 class="mt-2 mb-2 text-center">
                                @empl.FullName
                            </h5>
                        }
                    </div>
                    <div class="text-center">
                        <h5 class="mt-2 mb-2 text-center w-100" style="background-color:beige;
                             border-radius:6px;
                            padding-left:60px; padding-right:60px">
                            <strong>Parts used in this repair:</strong>
                        </h5>
                    </div>
                    @foreach (var part in @item.Parts)
                    {
                        <p class="mt-2 mb-2 text-center">
                            Part name: <strong>@part.Name</strong> / Part price: <strong>@part.Price</strong>
                        </p>
                    }
                </div>
                <br />
            }
            <div class="text-center">
                <div class="" style="background-color:chocolate; border-radius:6px; max-width:600px; padding-top:5px;
                     padding-bottom:5px">
                    <h5>Total finalized repairs for period: <strong style="color:indigo">@Model.Count</strong></h5>
                    <h5 style="color:antiquewhite">Incomes for period: <strong style="color:indigo">$@Model.FirstOrDefault()?.TotalIncomes</strong></h5>
                    <h5 style="color:antiquewhite">Outgoings for period: <strong style="color:indigo">$@Model.Sum(r => r.TotalOutgoings)</strong></h5>
                    @{
                        var incomes = Model.FirstOrDefault()?.TotalIncomes;
                        var outgoings = Model.Sum(r => r.TotalOutgoings);
                        var result = incomes - outgoings;
                        <h5 style="color:antiquewhite"><strong>Total</strong> for period: <strong style="color:indigo">$@result</strong></h5>
                    }
                </div>
            </div>
            <div class="pt-5 mt-5"></div>
        </div>

    }
    else
    {
        <div class="text-center pt-5 mt-5"><h4>No repairs for this period</h4></div>
        <p></p>
        <a href="/repair/index"><h5>Return</h5></a>
    }
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
