@using HPowerTunings.ViewModels.Appointment
@model ProceedAppointmentModel

@{
    ViewData["Title"] = "ProceedAppointment";
    Layout = "~/Views/Shared/_LayoutBoss.cshtml";
}
<style>
    body {
        background-color: rgb(234, 238, 238)
    }
</style>

<body>
    <div class="container-fluid justify-content-center mt-5 pt-5" style="max-width:480px">
        <h3 class="text-center">Set final <strong>date/time</strong> for this appointment</h3>
        <hr />
        <form class="d-flex" id="finalize" method="post">
            <div class="form-group mt-4">
                <label class="container-fluid justify-content-center text-center">Set appointment date</label>
                <input type="datetime-local" asp-for="@Model.AppointmentDate" class="form-control"
                       style="max-width:350px" />
                <input type="hidden" asp-for="@Model.In.Id" class="form-control disabled" placeholder="@Model.In.Id" />
                <span asp-validation-for="@Model.AppointmentDate" class="text-danger"></span>
            </div>
            <div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
            <div class="button-holder justify-content-center" style="margin-top:56px">
                <button type="submit" class="btn btn-outline-success">Finalize</button>
            </div>
        </form>

        <div style="border:solid rgb(220, 220, 220) 1px; border-radius:6px; padding:20px; background-color:aliceblue ">
            <p>Client username: <strong>@Model.In.ClientUserName</strong></p>
            <p>Client phone number: <strong>@Model.In.ClientPhoneNumber</strong></p>
            <p>Client email: <strong>@Model.In.ClientEmail</strong></p>
            <p>Desired date for appoinment: <strong>@Model.In.AppointmentDate</strong></p>
            <p>Car brand: <strong>@Model.In.CarBrandName</strong></p>
            <p>Car model: <strong>@Model.In.CarModelName</strong></p>
            <p>Problem description: <strong>@Model.In.ProblemDescription</strong></p>
        </div>
    </div>
    <div style="height:80px"></div>
</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
