@using HPowerTunings.ViewModels.CarsForParts
@model CarsForPartsViewModel
@{ Layout = "_LayoutBoss";}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        body {
            background-color: rgb(240, 246, 240)
        }
    </style>
</head>
<body>
    <div class="text-center mt-5 pt-5">

    </div>
    <div class="container-fluid" style="max-width:600px;">
        <div class="d-flex" style="margin-top:20px; margin-bottom:40px;">
            <h3>Cars for parts</h3>
            <form method="get" action="/CarsForParts/CreateCar" style="opacity:0.6; margin-left:auto;">
                <button type="submit" class="btn btn-outline-primary">
                    Add new car
                </button>
            </form>

        </div>
    </div>


    @foreach (var car in Model.Cars.OrderByDescending(c => c.CreatedOn))
    {
        <div class="container-fluid justify-content-center" style="padding:10px; max-width:600px; border-radius:6px;
             background-color:darkgrey">
            <div class="d-flex">
                <div>
                    <h5 class="text-center">Car brand : <strong style="color:indigo">@car.CarBrand</strong></h5>
                </div>
                <span style="margin-left:auto">
                    <a href="/CarsForParts/SellPart?id=@car.Id" style=" float:right; margin-left: auto;
                   opacity:0.7;">
                        <button>&nbsp;&nbsp;Sell part&nbsp;&nbsp;</button>
                    </a>
                    
                </span>
                <span>
                    <a href="/CarsForParts/DeleteCar?id=@car.Id" style=" float:right; opacity:0.7;">
                 <button> Delete car </button>
                </a>
                </span>
               
            </div>
            <h5>Car model : <strong style="color:indigo">@car.CarModel</strong></h5>
            <p>Vin : <strong>@car.Rama</strong></p>

            @foreach (var part in car.Parts.OrderByDescending(p => p.SaledOn))
            {
                <div class="container-fluid " style="padding:5px; max-width:580px; opacity:0.8;
                     background-color:beige; border-radius:6px;">
                    <div class="d-flex">
                        <p>Part name: <strong>@part.Name</strong></p>
                        <h5 class="text-center" style="color:indigo; margin-left:auto"><strong>Part</strong></h5>
                    </div>
                    <p>Part price: &nbsp;<strong>@part.Price</strong></p>
                    <p>Sold on: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>@part.SaledOn.Value.ToString("dd-MM-yy")</strong></p>
                </div>
                <p></p>
            }
            @{ var total = car.Parts.Sum(pp => pp.Price); }
            @if (car.Price - total <= 0)
            {
                <div class="container-fluid justify-content-center text-center" style="color:white;
             background-color:darkslategrey; max-width:580px; border-radius:6px; padding:5px;">
                    <p>Car price : <strong>@car.Price</strong></p>
                    <p>Sales on parts : <strong>@total.ToString("F2")</strong></p>
                    <p>Total parts saled: <strong>@car.Parts.Count()</strong></p>
                </div>
            }
            else
            {
                <div class="container-fluid justify-content-center text-center" style="color:white; border-radius:6px; padding:5px;
             background-color:indianred; max-width:580px">
                    <p>Car price : <strong>@car.Price</strong></p>
                    <p>Sales on parts : <strong>@car.Parts.Sum(p => p.Price).ToString("F2")</strong></p>
                    <p>Total parts saled: <strong>@car.Parts.Count()</strong></p>
                </div>
            }
        </div>
        <p></p>
    }
    @{ 
       
        var res = Model.TotalIn - Model.TotalOut;
        }
    @if (res > 0)
    {
        
        <div class="container-fluid justify-content-center text-center"
             style="padding:30px; border:solid 1px #c1bfa8; opacity:0.8; max-width:600px; background-color:brown">
            <p style="color:white">Total money in cars : <strong>@Model.TotalIn</strong></p>
            <p style="color:white">Total money from parts : <strong>@Model.TotalOut</strong></p>
            <p style="color:white">Difference &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong> -@res</strong></p>
        </div> 
    }
    else
    {
        var r = res * -1;
<div class="container-fluid justify-content-center text-center"
     style="padding:20px; border:solid 1px #c1bfa8; max-width:600px; background-color:cadetblue">
    <p style="color:white">Total money in cars : <strong>@Model.TotalIn</strong></p>
    <p style="color:white">Total money from parts : <strong>@Model.TotalOut</strong></p>
    <p style="color:white">Difference &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>@r</strong></p>
</div>
    }

    <div style="margin-bottom:60px"></div>
</body>
</html>